<% include partials/header %>

<div class="container-fluid my-1 py-3 z-depth-">
<div class="row">
    <div class="col-xs-12 col-md-3">
        <ul class="list-group px-2 text-white ">
            <a class="link-item" href="/profile"><li class="list-group-item list-group-item-action text-dark">My Profile</li></a>
            <a href="/history"><li class="list-group-item list-group-item-action text-dark">Orders History</li></a>
<!--
            <a href=""><li class="list-group-item list-group-item-action text-dark">My Profile</li></a>
            <a href=""><li class="list-group-item list-group-item-action text-dark">My Profile</li></a>
            <a href=""><li class="list-group-item list-group-item-action text-dark">My Profile</li></a>
-->
        </ul>
    </div>
    <div class="col-xs-12 col-md-9 mt-sm-4 mt-md-0">
        <div class="card z-depth-2" style="min-height: 80vh">
            <div class="card-header h4">My Profile</div>
            <div class="card-body">
                <form action="/profile/<%- currentUser._id %>?_method=PUT" method="post">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <p>First name:</p> <input class="form-control" type="text" placeholder="" name="info[firstName]" value="<%= currentUser.firstName %>"><br>
                            <p>Email:</p> <input class="form-control" type="email" placeholder="" name="info[email]" value="<%= currentUser.email %>"><br>
                            <p>Address:</p> <input class="form-control" type="text" placeholder="" name="info[address]" value="<%= currentUser.address %>"><br>

                        </div>
                        <div class="col-sm-12 col-md-6">
                            <p>Last name:</p> <input class="form-control" type="text" placeholder="" name="info[lastName]" value="<%= currentUser.lastName %>"><br>
                            <p>Phone number:</p> <input class="form-control" type="text" placeholder="" name="info[phoneNumber]" value="<%= currentUser.phoneNumber %>"><br>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <input class="btn btn-default" type="submit" value="Update Profile" st>
                    </div>
                </form>
                <button class="btn btn-danger" type="button">Delete Profile</button>
            </div>
        </div>
    </div>
</div>
</div>

<% include partials/footer %>